<div class="container">
<h1>New Cocktail</h1>
<p>Please insert the name and a photo of the cocktails you would like to add.</p>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>

<% end %>

</div>
