// Import page-specific CSS files here.
@import "home";


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 20px;
  box-sizing: unset;
  margin-bottom: 70px;
  flex-wrap: wrap;
  align-items: center;
}

.card-category {
  border: 1px solid lightgrey;
  padding: 80px 0px;
  color: white;
  text-align: center;
  border-radius: 5%;
  height: 200px;
  font-family: Montserrat;



}

.card-category a {
  color: white;
  font-weight: lighter;
  text-decoration: none;

}

.card-category a:hover {
  font-size: 20px;
  font-weight: bolder;
}

// .btn-ghost {
//   color: white;
//   border: 1px solid white;
//   padding: 8px 24px;
//   border-radius: 50px;
//   font-weight: bolder;
//   opacity: 0.8;
//   transition: opacity 0.3s ease;


// }

// .btn-ghost:hover {
//   opacity: 1;
//   background-color: white;
//   color: grey;
// }

// .card-category a img {
//   : center;
// }

// Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
