#cocktail_img {
  text-align: center
}


#cocktail_image {
  border-radius: 5%;
  margin-top: 10px;
}

.headline-font {
  font-weight: lighter !important;
  font-family: Montserrat !important;
}

.flexbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.form-main.show-form {
  padding: 0px 0px !important;
  margin: 0px 0px !important;
}

div.form-container.show-form {
  margin: 10px 10px !important;
}

input.btn-ghost.show-btn {
  font-size: 14px;
  padding: 5px 8px;
}

a {
  color: #e9b15c;
}
