.form-container {
  background-color: white;
  padding: 30px 40px 10px 40px;
  margin: 25px 40px;
  // height: 80%;
  border-radius: 10px;
}

.form-main {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px 0px 30px 0px;
  padding: 20px 0px 40px 0px;
  width: 100%;
  font-weight: lighter;
  font-family: Montserrat;
    a {
    color: grey;
  }
  p {
    font-weight: lighter;
    font-family: Montserrat;
    font-size: 12px;
  }
  h4 {
    font-size: 18px;
  }
  }

  .fab.fa-github {
    color: orange;
  }

